html {
    scroll-behavior: smooth;
}

.font-title {
    font-family: 'Nunito', sans-serif;
}

.font-subtitle {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.my-yellow {
    color: #F2AC1D;
}

.my-dark {
    color: #1B1B22;
}

.my-white {
    color: #FCFCFC;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    @media screen and (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(10px, auto);

    }
}

.one {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;

    }
}

.two {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;

    }
}

.three {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;

    }
}



body {
    background-color: #F8F7FF;
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #1B1B22;
    text-align: left;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;

    @media screen and (max-width: 991px) {}
}




nav {
    height: 0px;
    top: 30vh;
    position: sticky;
    left: 1vw;
    z-index: 1;
    margin-left: 15px;

    @media screen and (max-width: 991px) {

        margin-left: 0;

    }
}

.my-nav-box {
    background-color: #F2AC1D;
    color: #1B1B22;

    width: 50px;
    left: 1vw;


    padding: 10px;
    justify-content: center;
    color: #1B1B22;
    list-style-type: none;
    text-decoration: none;
    border-radius: 50px;


    @media screen and (max-width: 991px) {
        justify-content: flex-end;
        top: auto;
        left: auto;
        position: fixed;
        bottom: 0;
        width: 100vw;
        text-align: center;
        padding: 0px;
        border-radius: 0px;
    }
}

.my-nav-box li {
    color: #1B1B22;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 991px) {
        display: inline-block;
        margin-right: 100px;
        margin-bottom: 15px;
        /* Ajoutez une marge à droite pour espacer les éléments */
        flex: 0 0 auto;
        /* Assurez-vous que la flexibilité est correcte */
        justify-content: center;
    }

    @media screen and (max-width: 765px) {
        margin-right: 40px;
    }
}


.my-nav-box li:first-child {
    margin-top: 20px;

    @media screen and (max-width: 991px) {
        margin-left: 100px;
    }

    @media screen and (max-width: 765px) {
        margin-left: 40px;
    }
}

.my-nav-box li:last-child {
    margin-bottom: 20px;

    @media screen and (max-width: 991px) {
        margin-bottom: 0;
    }
}

.my-nav-box a {
    color: #1B1B22;
    text-decoration: none;
}

.my-nav-box a:hover {
    color: #F8F7FF;
    transition: color 0.3s ease;
}

/*LANGUAGE--------------------------*/

.language-selector {
    height: 0px;
    top: 1vh;
    position: sticky;
    left: 1vw;
    z-index: 1;
    margin-left: 95vw;

    @media screen and (max-width: 991px) {

        margin-left: 85vw;

    }
}

.language-content {
    background-color: #F2AC1D;
    color: #1B1B22;
    display: flex;
    left: 1vw;
    width: 50px;
    padding: 2px;
    justify-content: center;
    color: #1B1B22;
    list-style-type: none;
    text-decoration: none;
    border-radius: 50px;
    align-items: center;
}

.language-selector img {
    width: 100%;
}

.french-flag {
    padding: 4px;
}

.french-flag img {
    border: 2px solid #1B1B22;
    border-radius: 100%;
}

/*PROFILE--------------------------*/

#profile {

    min-height: 110vh;
    padding-top: 2vh;
    /* background-image: url(../img/landscapefull2.jpg);
    top: -10vh; */
    background-color: #1B1B22;
    background-image: url(../img/fond-noir.jpg);
    color: #FCFCFC;


}

.all-text-profile {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 5vw;
}

.margin-profile {
    margin-left: 10vw;
    margin-right: 10vw;
}



.wrapper-profile {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    @media screen and (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(10px, auto);

    }

    @media screen and (max-width: 765px) {

        top: -15vh;

    }
}



.my-blur {
    filter: blur(3px);
    transition: all 0.6s ease;
}

.my-unblur {
    filter: blur(0px);
    transition: all 0.6s ease;
}




.profile-title {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: 10vw;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        margin-right: 10vw;

    }
}

.profile-title img {
    width: 100%;

}


.text-profile {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-left: 10vw;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        margin-right: 10vw;

    }
}

.text-extends {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-left: 10vw;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        margin-right: 10vw;

    }
}

.profile-picture {
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;


    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;

    }

    @media screen and (max-width: 767px) {
        margin-bottom: 10vh;

    }
}

.profile-picture img {
    position: relative;
    width: 60%;
    top: -5vh;

    /* min-height: 80vh; */


    @media screen and (max-width: 767px) {
        width: 80%;
        top: 0vh;

    }


}




.button-extends {
    background-color: #1B1B22;
    color: #FCFCFC;
    border: 2px solid #FCFCFC;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;

    font-weight: 400;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    width: 200px;
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10vh;
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 5 / span 1;

    }
}

.second-title {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

/*SKILLS --------------------------*/

#skills {




    background-image: url(../img/fond-blanc.jpg);
    padding-bottom: 10vh;
    padding-top: 2vh;


}

.title-skills {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}


#skills img {
    position: relative;
    top: -2vh;
    width: 50%;

}

/*SKILLS CARDS--------------------------*/


.section__card {
    display: flex;
    justify-content: center;
}

.card__footer h2 {
    color: #1B1B22;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 8px;
}

.card {
    height: 17rem;
    width: 20rem;
    border: 2px solid #1B1B22;
    padding: 2rem;
    background-color: #FCFCFC;
    box-sizing: border-box;
    overflow: hidden;


}

.card:hover .card__header {
    height: 4rem;
    transition: .3s;
}

.card:hover .card__header img {
    transform: scale(5);
    transition: .3s;
}

.card:hover .card__footer {
    height: 17rem;
    transition: .3s;
}

.card:hover .card__footer ul li {
    transform: translate(0);
    transition-delay: .3s;
    transition-duration: .3s;
    font-weight: 600;
}

.card__header {
    height: 17rem;
    margin: -2rem -2rem 2rem -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    overflow: hidden;
}

.card__header img {
    width: 6rem;
    transform: scale(1);
    transition: .3s;
}

.card__footer {
    position: relative;
    height: 36px;
    background-color: #FCFCFC;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s;
}

.card__footer h2 {
    color: #1B1B22;
    margin: 0;
    line-height: 20px;
    letter-spacing: 0;
    padding-left: 2px;
}

.card__footer p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0;
    font-style: italic;
    font-weight: 300;
    color: #848383;
}

.card__footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__footer ul li {
    color: #31E2C2;
    font-size: 1.6rem;
    margin-top: 5px;
    font-weight: 100;
    transform: translateX(-100%);
    transition: .3s;
    transition-duration: 0;
    transition-delay: .3s;
}

.html-card-header {
    background-color: #E95A28;
}

.css-card-header {
    background-color: #4F00F5;
}


.js-card-header {
    background-color: #FFFD5E;
}

.php-card-header {
    background-color: #1c1c57;
}


.git-card-header {
    background-color: #1B1B22;
}

.sql-card-header {
    background-color: #0f4a81;
}

.adobe-card-header {
    background-color: #eb1000;
}

.adobe-card-header img {

    width: 100%;
}

.symfony-card-header {
    background-color: #4e4e53;
}

.figma-card-header {
    background-color: #25252b;
}


.wrapper-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);

}

#skills .one {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {

        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
    }
}

#skills .two {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
    }
}

#skills .three {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 4 / span 1;
    }
}

#skills .four {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 5 / span 1;
    }
}

#skills .five {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 6 / span 1;
    }
}

#skills .six {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 7 / span 1;
    }
}

#skills .seven {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 8 / span 1;
    }
}

#skills .eight {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 9 / span 1;
    }
}

#skills .nine {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 4;
        grid-row: 10 / span 1;
    }
}

/*JOURNEY --------------------------*/

#journey {

    min-height: 110vh;
    background-color: #1B1B22;
    color: #FCFCFC;
    padding-top: 2vh;


}

#journey p {
    font-size: 120%;
}

.wrapper-journey {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(50px, auto);

}

.title-journey {
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
}

.arrow-journey {
    grid-column: 4 / span 8;
    grid-row: 2 / span 1;
}

.arrow-journey img {
    width: 300%;

    @media screen and (max-width: 1025px) {
        width: 50%;

    }

    @media screen and (max-width: 991px) {
        width: 100%;

    }
}



.nav-journey {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
    background-color: #202025;
    padding-top: 15px;
    border-radius: 10px;
    /* background-image: url(../img/point-line3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.nav-journey a {

    text-decoration: none;
    margin: 5vw;

    @media screen and (max-width: 767px) {
        margin: 2vw;

    }
}

.nav-journey i {
    color: #FCFCFC;
}

.nav-journey a:hover i {
    color: #F2AC1D;
    transition: color 0.3s ease;
}

.nav-journey .active-journey-icon {
    color: #F2AC1D;
}




.journey-section {
    grid-column: 1 / span 12;
    grid-row: 4 / span 1;

    padding-top: 15px;
    border-radius: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;


}

.journey-section {
    display: none;
}

.journey-section-active {
    display: block;
}

.journey-section:first-of-type {
    display: block;
}

.section-info {
    background-color: #25252b;
}

.section-info p {

    margin: 15px;
    padding: 15px;
    font-size: 1.5rem;



}


/*CONTACT --------------------------*/

#contact {

    padding-top: 2vh;
    min-height: 100vh;
    background-image: url(../img/fond-blanc-formes.jpg);
}

#contact img {
    width: 100%;
}


.wrapper-contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
}


.contact-picture {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
    }
}

.contact-info {
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
    margin-top: 30%;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 6;
        grid-row: 2 / span 1;
        margin-top: 0;
    }
}

.contact-info p {

    margin-top: 10%;
    font-size: 120%;
    font-family: 'Nunito', sans-serif;

    @media screen and (max-width: 767px) {
        font-size: 100%;
    }
}

.contact-info i {

    margin-right: 5%;

    @media screen and (max-width: 767px) {
        margin-right: 0;
    }

}


/*FOOTER--------------------------*/

.footer-box {
    display: flex;

    align-content: center;
    justify-content: center;
    align-items: end;
    margin-top: 15vh;

    @media screen and (max-width: 991px) {
        margin-bottom: 6vh;

    }

    @media screen and (max-width: 767px) {
        margin-bottom: 10vh;

    }
}