.font-title {
    font-family: 'Nunito', sans-serif;
}

.font-subtitle {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.my-yellow {
    color: #F0A202;
}

.my-dark {
    color: #280003
}

.my-white {
    color: #F8F7FF
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.first-title {
    grid-column: 2 / span 1;
    /* Commence à la deuxième colonne, s'étend sur une colonne */
    grid-row: 1 / span 1;
    /* Commence à la première ligne, s'étend sur une ligne */
}

.one {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;

    }
}

.two {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;

    }
}

.three {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;

    @media screen and (max-width: 991px) {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;

    }
}

.second-title {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}




body {
    background-color: #F8F7FF;
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #280003;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;

    @media screen and (max-width: 991px) {
        margin-top: 30vh;

    }
}

.anti-nav {
    position: relative;
    top: -30vh;
}

.my-nav-box {
    background-color: #F0A202;
    color: #280003;
    position: sticky;
    width: 50px;
    left: 1vw;
    top: 30vh;
    padding: 10px;
    justify-content: center;
    color: #280003;
    list-style-type: none;
    text-decoration: none;
    border-radius: 50px;
    z-index: 1;

    @media screen and (max-width: 991px) {
        justify-content: flex-end;
        top: auto;
        left: auto;
        position: fixed;
        bottom: 0;
        width: 100vw;
        text-align: center;
        padding: 0px;
        border-radius: 0px;
    }
}

.my-nav-box li {
    color: #280003;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 991px) {
        display: inline-block;
        margin-right: 100px;
        margin-bottom: 15px;
        /* Ajoutez une marge à droite pour espacer les éléments */
        flex: 0 0 auto;
        /* Assurez-vous que la flexibilité est correcte */
        justify-content: center;
    }

    @media screen and (max-width: 765px) {
        margin-right: 40px;
    }
}


.my-nav-box li:first-child {
    margin-top: 40px;

    @media screen and (max-width: 991px) {
        margin-left: 100px;
    }

    @media screen and (max-width: 765px) {
        margin-left: 40px;
    }
}

.my-nav-box a {
    color: #280003;
    text-decoration: none;
}

.my-nav-box a:hover {
    color: #F8F7FF;
    transition: color 0.3s ease;
}

.space-over-section {
    margin-top: 20vh;
}

/*PROFILE--------------------------*/

#profile {

    margin-left: 10vw;
    margin-right: 10vw;
}

#profile img {
    position: relative;
    top: -2vh;
    width: 100%;

}

/*SKILLS --------------------------*/

#skills {
    margin-top: 25vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

#skills img {
    position: relative;
    top: -2vh;
    width: 100%;

}

/*FOOTER--------------------------*/

.footer {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
}